# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
练习材料/Python/7月下旬入库表.xls
练习材料/Python/7月下旬统计表.xls
练习材料/Python/模板.xls
练习材料/Python/模板1.xlsx
练习材料/Python/XX公司7月5日入库表.xlsx
